.head {
    text-align: center;
}
  
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: 30px auto;
}
  
.gridItem {
    border-radius: 8px;
    font-size: 1.5em;
    cursor: pointer;
    height: 60px;
    width: 60px;
}
  